body {
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	width:100%; height:100%;
}

#window-wrapper {
	position:absolute;
	top:50%; left:50%;
	width:600px; height:320px;
}

#window {
	position:absolute;
	top:-60%; left:-50%;
	width:100%; height:100%;
	background-color:#333;
	border:1px solid #444;
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000;
	text-align:left;
}

	#window h3 {
		margin:5px 20px 0; padding:15px 10px 15px 60px;
		background:url(images/404.png) no-repeat left center;
		color:#fff; text-shadow:0 -1px 0 #111; font-size:18px; font-weight:400; line-height:30px;
	}

	#error-info {
		background:url(images/hsep.png) repeat-x top;
		_background:url(images/hsep3.png) repeat-x top;
		margin:0 20px; padding:10px 10px 0;
		line-height:1.5;
	}

		#error-info p {
			margin:10px 0 5px;
		}

		#error-info a {
			border-bottom:1px dotted #666;
		}

		#error-info a:hover {
			border-bottom-style:solid;
		}

		#error-info ul {
			margin-left:15px;
		}

		#error-info li {
			padding:3px 2px 3px 12px;
			background:transparent url(images/dot.gif) no-repeat scroll -4px 4px;
		}

	#blog-info {
		background:url(images/hsep.png) repeat-x top;
		_background:url(images/hsep3.png) repeat-x top;
		margin:0 20px; padding:10px 10px 15px;
		width:540px;
		position:absolute;
		bottom:0;
		text-align:center;
	}

	#search-form {
		margin-top:10px;
	}

	#search-wrapper {
		text-align:left;
		line-height:1;
		margin-left:15px;
		width:50%;
	}

	#s-msg {
		width:96%;
	}

	#s:focus {
		background-color:#1d1d1d;
		border-color:#505050;
	}

	#s {
		width:96%;
		background-color:#181818;
		border-color:#3c3c3c;
	}