.form-table td {
	padding:10px;
}

textarea.mid-text {
	width:70%;
}

.form-table .section-title {
	margin:0; padding:0;
}

.form-table .section-title h3 {
	margin:0; padding:5px 10px;
	background:#F1F1F1 url(../../../wp-admin/images/menu-bits.gif) repeat-x scroll left -379px;
	border:1px solid #E3E3E3;
	font-family:font-size:14px; font-weight:700; line-height:18px; color:#464646; text-shadow:#fff 0 1px 0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

.form-table td .info {
	padding:5px 10px; margin-top:10px;
	width:67%;
	background:#f1f1f1;
	border:1px solid #e3e3e3;
	font-size:12px; color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}